  <div class="row m-0">
    <% @properties.each_with_index do |property, index| %>
      <div class="col-3">
        <%= link_to property_path(property) do %>
          <div class="card-trip my-2">
            <div id= <%= "carouselExampleControls#{index}" %>  class="carousel slide" data-bs-interval="false">
              <div class="carousel-inner">

               <% property.photos.each_with_index do |photo, index| %>
                <div class="carousel-item carousel-item-index <%= index == 0 ? 'active' : '' %>">
                  <%= cl_image_tag photo.key, height: 200, class: "w-100" %>
                 </div>
              <% end %>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= property.title %></h2>
                <p><%= property.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= number_to_currency(property.price, :unit => "R$") %></h2>
              <img src="https://media.istockphoto.com/vectors/default-avatar-profile-icon-vector-vector-id1337144146?b=1&k=20&m=1337144146&s=170667a&w=0&h=ys-RUZbXzQ-FQdLstHeWshI4ViJuEhyEa4AzQNQ0rFI=" class="card-trip-user avatar-bordered" />
            </div>
          </div>
      </div>
    <% end %>
  </div>
