<div class="search">
  <%= form_tag properties_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search__text",
    placeholder: "Find a home"
  %>
  <%= button_tag(type: "submit", class: "search__button") do  %>
    <i class="fas fa-search"></i>
  <% end %>
  <% end %>
</div>

  <div class="row m-0 p-3">
    <% @properties.each_with_index do |property, index| %>
      <div class="col-3">
        <%= link_to property_path(property) do %>
          <div class="card-trip my-2">
            <div id= <%= "carouselExampleControls#{index}" %>  class="carousel slide" data-bs-interval="false">
              <div class="carousel-inner">

               <% property.photos.each_with_index do |photo, index| %>
                <div class="carousel-item carousel-item-index <%= index == 0 ? 'active' : '' %>">
                  <%= cl_image_tag photo.key, height: 200, class: "w-100" %>
                 </div>
              <% end %>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        <% end %>
            <div class="card-trip-infos">
              <h2 class="card-trip-pricing"><%= number_to_currency(property.price, :unit => "R$")  %></h2>
              <p class="card-trip-address"><%= property.address %></p>
            </div>
              <i class="far fa-heart"></i>
          </div>
      </div>
    <% end %>
  </div>
