<div class="container">
  <div class="row">
    <% if @properties.count == 0 %>
      <h1 class="mt-5">You don't have any propeties yet :&#40;</h1>
    <% else %>
      <div class="properties-created mt-3">
        <h1>Propriedades criadas</h1>
        <% @properties.each do |property| %>
          <% if property.sales.empty? %>
            <div class="card-product-sale mb-3 mt-3">
              <% if property.photos.attached? %>
                <%= cl_image_tag property.photos.first.key %>
              <% else %>
                <%= image_tag("interior-unsplash.jpg") %>
              <% end %>
              <div class="card-product-infos-sale d-flex flex-column justify-content-between">
                <div class="title-info">
                  <h2><%= property.title.capitalize %></h2>
                  <p><strong><%= property.address %></strong></p>
                </div>
                <p><%= property.description %></p>
                <p><strong><%= number_to_currency(property.price, :unit => "R$") %></strong></p>
                <div class="btns-card d-flex">
                  <% if policy(property).edit? %>
                    <%= link_to 'Editar', edit_property_path(property), class: 'btn btn-warning' %>
                  <% end %>
                  <% if policy(property).destroy? %>
                    <%= link_to 'Deletar', property_path(property), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
                  <% end %>
                  <% if property.user != current_user %>
                    <%= link_to 'Comprar',  property_sales_path(property), method: :post, data: { confirm: "Are you sure?" }, class: 'btn btn-success' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="properties-bought mt-3">
        <h1>Propriedades compradas</h1>
        <% @properties.each do |property| %>
          <% if property.sales.empty? %>
            <% next %>
          <% else %>
            <div class="card-product-sale mb-3 mt-3">
              <% if property.photos.attached? %>
                <%= cl_image_tag property.photos.first.key %>
              <% else %>
                <%= image_tag("interior-unsplash.jpg") %>
              <% end %>
              <div class="card-product-infos-sale d-flex flex-column justify-content-between">
                <div class="title-info">
                  <h2><%= property.title.capitalize %></h2>
                  <p><strong><%= property.address %></strong></p>
                </div>
                <p><%= property.description %></p>
                <p><strong><%= number_to_currency(property.price, :unit => "R$") %></strong></p>
                <div class="btns-card d-flex">
                  <% if policy(property).edit? %>
                    <%= link_to 'Editar', edit_property_path(property), class: 'btn btn-warning' %>
                  <% end %>
                  <% if policy(property).destroy? %>
                    <%= link_to 'Deletar', property_path(property), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
                  <% end %>
                  <% if property.user != current_user %>
                    <%= link_to 'Comprar',  property_sales_path(property), method: :post, data: { confirm: "Are you sure?" }, class: 'btn btn-success' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
