<h1 class="text-center mt-3">Cadastrar nova propriedade</h1>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <%= simple_form_for(@property) do |f| %>
      <%= f.input :title  %>
      <%= f.input :description %>
      <%= f.input :address, input_html: { data: { geocoder_target: "address" }, class: "d-none" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      <%= f.input :price %>
      <%= number_to_currency(@property.price, :unit => "R$") %>
       <%= f.input :photos, as: :file, input_html: { multiple: true } %>
       <div class="row text-center">
        <%= f.submit 'Criar propriedade', class: "btn btn-default btn-primary" %>
      </div>
    </div>
  </div>
</div>

<% end %>
