<div class="container">


  <h2><%= @property.title.capitalize %></h2>
  <p><strong>Description:</strong> <%= @property.description %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@property.price, :unit => "R$") %></p>
  <p><strong>Location:</strong> <%= @property.address %></p>

  <% if policy(@property).edit? %>
    <%= link_to 'Edit the property', edit_property_path(@property) %>
  <% end %>

  <% if policy(@property).destroy? %>
    <%= link_to 'Delete the property', property_path(@property), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <%= link_to 'Back', properties_path %>
  <%= link_to 'Buy',  property_sales_path(@property), method: :post, data: { confirm: "Are you sure?" } %>
</div>
