<div class="banner" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1568605114967-8130f3a36994);">
  <div class="container">
      <h1 class="d-flex justify-content-center" >Sétimo Andar</h1>
      <p class="d-flex justify-content-center"> <%= link_to "Encontre seu lar", properties_path, class: "btn btn-flat" %></p>
  </div>
</div>

<div class="container">
  <div class="information">
    <h2 class="d-flex justify-content-center">O que você procura?</h2>
    <p class="d-flex justify-content-center">Sétimo Andar tem diversas opções pra você encontrar o imóvel perfeito!</p>
  </div>
</div>

<div class="cards-home">
  <%= link_to properties_path(type: "casa"), class: "card-category-home", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605276374104-dee2a0ed3cd6)" do %>
    <p>Casas</p>
  <% end %>

  <%= link_to properties_path(type: "apartamento"), class: "card-category-home", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523192193543-6e7296d960e4)" do %>
   <p>Apartamentos</p>
  <% end %>

  <%= link_to properties_path(type: "fazenda"), class: "card-category-home", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1601189992152-6ef7ebb531a8)" do %>
    <p>Fazendas</p>
  <% end %>

  <%= link_to properties_path(type: "castelo"), class: "card-category-home", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508682641856-78948a748357)" do %>
    <p>Castelos</p>
  <% end %>
</div>
