<h1 class= "text-center mt-2">Login</h1>

 <div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" },
                            placeholder: "your email" %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" },
                            placeholder: "enter your password" %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  <div class="form-actions">
                    <div class="row text-center">
                      <%= f.submit 'login', class: "btn btn-default btn-primary" %>
                    </div>
                  </div>
          </div>
        </div>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
